*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Slab', serif;
  color: #121214;
  min-height: 100vh;
  background-image: linear-gradient(to top, #e0c3fc 0%, #8257e6 100%);
}